In [49]:
import pandas as pd

In [51]:
data = {'Name':['Henry', 'George', 'Matt'], 'Age': [22, 26, 20], 'City': ['New York', 'Chicago', 'Texas']}

In [53]:
df = pd.DataFrame(data)

In [55]:
df.head()

     Name  Age      City
0   Henry   22  New York
1  George   26   Chicago
2    Matt   20     Texas

In [57]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [90]:
df.iloc[0]

Name       Henry
Age           22
City    New York
Name: 0, dtype: object

In [92]:
l1 = [['Henry', 22, 'New York'], ['George', 26, 'Chicago'], ['Matt', 22, 'Texas']]

df = pd.DataFrame(l1, columns = ['Name', 'Age', 'City'])

In [94]:
df.head()

     Name  Age      City
0   Henry   22  New York
1  George   26   Chicago
2    Matt   22     Texas

In [96]:
df.to_csv('Data.csv')

# part 9

###  a) The "write/render/evaluate" cycle allows authors to constantly hone their ideas. Designers can rapidly test, modify, and review several techniques to get the most effective data representation by establishing mapping principles, building visualizations, and evaluating results.

### b) Dynamic, interactive data visualizations let users freely search data. From beginners to professionals, gives you different points of view through zooming, filtering, and "details-on-demand." This makes it easier to navigate multidimensional datasets and serves a wide range of viewers. Interactivity makes it easier to get to tough information and encourages people to take part.

### c) Yes, I agree. Open-source solutions enable accessibility over many devices and platforms, therefore avoiding compatibility problems linked with proprietary software. This has bearing on the goal of attaining maximum audience capacity. Since they encourage cooperation, creativity, and cost-efficiencies, open-source solutions are perfect for creators and businesses aiming for major and inclusive influence.